@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
.wrapper {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  text-align: start;
}
.container {
  margin: 0 auto;
  max-width: 1280px;
}
.logo a {
  font-size: 80px;
  line-height: 94px;
  display: flex;
  align-items: flex-end;
  text-align: center;
  margin-bottom: 40px;
  text-decoration: none;
  color: black;
}
.color-1 {
  text-decoration: none;
  color: lightskyblue;
}
.top-menu {
  /* margin: 0px 100px 0px 100px; */
  background-color: #35444f;
  color: white;
  height: 69px;
}
.top-menu__list {
  display: flex;
  justify-content: center;
  align-items: center;
}
.top-menu__item {
  padding: 26px 38px 19px 38px;
  /* border: 1px solid white; */
  border-left: 1px solid white;
}
.top-menu__item a {
  font-size: 24px;
  /* line-height: 28px; */
  align-items: center;
  color: white;
  /* border: 1px solid white; */
  text-decoration: none;
  /* padding: 26px 38px 19px 38px; */
}
.top-menu__item:hover {
  background: #222f3a;
  box-shadow: inset 0 0 0 3px #3a7999;
}
.mainblock {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}
.aside {
  border: 1px solid #000000;
  width: 344px;
  height: 380px;
  margin-right: 50px;
}
.left-menu__item {
  padding: 26px 0 0 44px;
  height: 50px;
  line-height: 50px;
}
.left-menu__item a {
  font-size: 27px;
  /* padding-bottom: 52px; */
  text-decoration: none;
  color: #485863;
}
.left-menu__item:hover {
    background:#DBDBDB;
    
}
.img-border {
  text-align: center;
  border: 1px solid #000000;
}
.logo-img {
  padding: 75px 0 73px 0;
}
.description__text {
  display: flex;
  flex-wrap: wrap;
  text-align: start;
  align-items: center;
  width: 885px;
  font-size: 18px;
  /* margin-left: 60px; */
  margin-top: 37px;
}
p {
  margin-top: 34px;
}
.footer-menu__item {
  display: flex;
  /* flex-wrap: nowrap; */
  justify-content: space-between;
  text-align: justify;
  float: right;
  /* margin: 0px auto;
  align-items: center; */
  background-color: rgba(99, 105, 110, 0.315);
  padding-left: 20px;
  margin-top: 10px;
}
.footer-menu__item a {
  font-size: 28px;
  line-height: 28px;
  color: black;
  text-decoration: none;
  margin: 10px;
}
.footer-menu__item a:hover {
    border-bottom: 2px solid #3181A6;
    color: #3181A6;
}
.footer-wrapper {
  background-color: #63696e;
  display: flex;
  justify-content: space-around;
  margin: 54px 0 30px 0;
  height: 69px;
}
.footer-wrapper .copyright {
  font-size: 24px;
  line-height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 190px;
  height: 60px;
}
